<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      High Ideas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf=isShowingIdea>
      <ion-card color="dark" *ngIf="currentIdea">
        <ion-card-header>
          <ion-card-title>{{currentIdea.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{currentIdea.description}}
        </ion-card-content>
        <ion-button color="success" (click)="refreshIdeaClick()">
          <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-card>
    </div>

    <div *ngIf=!isShowingIdea>
      <ion-card color="dark">
        <ion-card-header>
          <ion-card-title>
            <ion-input placeholder="Enter Title..." type="text"></ion-input>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-input placeholder="Enter Description..." type="text"></ion-input>
        </ion-card-content>
        <ion-button color="success" (click)="actuallySubmitIdeaClick()">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="cancelSubmitIdeaClick()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-card>
    </div>

    <ion-button *ngIf=isShowingIdea size="small" color="dark" (click)="submitIdeaClick()">
      Got an idea?
    </ion-button>
  </div>
</ion-content>
